{% extends "admin_layout.html.twig" %}
{% set active = 'admin' %}
{% set adminActive = 'regions' %}

{% block title 'Admin Régions' %}
    
{% block content %}
<div class="container">
    <h1 class="text-center">Gestion Régions</h1>

    <p><a href="{{ path('admin_region_edit') }}" class="btn btn-info">Ajouter région</a></p>
    
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Région</th>
            <th>Actions</th>
        </tr>
        {% for region in regions %}
            <tr>
                <td>{{ region.id_region }}</td>
                <td>{{ region.region_name }}</td>
                <td>
                    <a href="{{ path('admin_region_edit', {id_region: region.id_region}) }}" 
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('admin_region_delete', {id_region: region.id_region}) }}" 
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
    </div>
    </div>
{% endblock %}