{% extends "layout.html.twig" %}

{% block title 'Creation Recette' %}

{%  block content %}
    <h1>Toutes les recettes</h1>

    <p><a href="{{ path('recipe_create') }}">Nouvelle Recette</a></p>

    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Ingrédient principal</th>
            <th>Temps de préparation</th>
            <th>Temps de cuisson</th>
            <th>Photo</th>
            <th>action</th>
        </tr>
        {% for recipe in recipe %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.star_ingredient }}</td>
                <td>{{ recipe.prep_time }}</td>
                <td>{{ recipe.cook_time }}</td>
                <td><img src="{{ asset('photo/' ~ recipe.picture_recipe) }}" class="img-thumbnail img-responsive" width="200px"></td>
                <td><a href="{{  path('recipe_index', {id_recipe: recipe.id_recipe}) }}">Voir</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}