{% extends "layout.html.twig" %}

{% block content %}
        {#<p>{{ dump(user) }}</p>#}
<div class="container">
    <div class="row">
        {% if user.user_picture is not empty  %}
            <div class="col-sm-2" ><img class="img-responsive" src="{{ asset('photo/' ~ user.user_picture) }}" /></div>
        {% else %}
            <div class="col-sm-2" ><img class="img-responsive" src="https://www.gravatar.com/avatar/{{gravatar}}?d=retro&s=150" /></div>
        {% endif %}
        <div class="col-sm-10" >
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th colspan="2">Bienvenue sur le profil de {{ user.username }} !</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Pseudo</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Région</th>
                            <td>{{ region.region_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Statut</th>
                            <td>{{ user.status }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ses recettes</th>
                            <td>{{ nb_myRecipe }}<a href="{{ path("recipes_user",{id_user:user.id_user}) }}">&nbsp&nbsp&nbspVoir ses recettes...</a></td>                        
                        </tr>
                        <tr>
                            <th scope="row">Ses commentaires</th>
                            <td>{{ nb_myComments }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ses notes</th>
                            <td>{{ nb_myRatings }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}