{% extends "layout.html.twig" %}

{% block title 'Inscription' %}

{% block content %}
    <div class="rw-container rw-section">
        <div class="rw-inner clearfix">

            <!-- Main content -->
            <div class="rw-column rw-content">

                <div class="rw-row page-title">
                    <h1>Inscription</h1>
                </div>

                <div class="rw-row subtle">
                    <div class="grid-container">
                        <div class="help-container">

                            <div class="rw-row">
                                <p>Bonjour et bienvenu ! Votre inscription vous permettra d'acceder à une communauté de
                                    femme, d'homme et d'enfant, tous passionné par la cuisine fraçaise !<br/>
                                    Faite vous plaisir et partagez votre savoir faire et vos plat ! Enjoy !
                                    <br/>Si vous avez des question, adreesez-nous votre demande <a
                                            href="{{ path('contact_index') }}">ici</a></p>

                            </div>


                            <div class="ask-question-form">
                                <form method="post" enctype="multipart/form-data">

                                    <div class="grid desk-6 alpha">
                                        <label>Pseudo</label>
                                        <input type="text" name="username" value="{{ user.username }}"
                                               class="fullwidth form-control">
                                    </div>

                                    <div class="grid desk-6 omega">
                                        <label>Civilité</label>
                                        <select class="fullwidth form-control" name="civility" id="civility">
                                            <option></option>
                                            <option value="m">M</option>
                                            <option value="mme">Mme</option>
                                        </select>
                                    </div>

                                    <div class="grid desk-6 alpha">
                                        <label>Nom</label>
                                        <input type="text" name="lastname" value="{{ user.lastname }}"
                                               class="fullwidth form-control">
                                    </div>

                                    <div class="grid desk-6 omega">
                                        <label>Prénom</label>
                                        <input type="text" name="firstname" value="{{ user.firstname }}"
                                               class="fullwidth form-control">
                                    </div>

                                    <div class="grid desk-6 alpha">
                                        <label>Email</label>
                                        <input type="text" name="email" value="{{ user.email }}"
                                               class="fullwidth form-control">
                                    </div>

                                    <div class="grid desk-6 omega">
                                        <label>Région</label>
                                        <select class="fullwidth form-control" name="id_region" id="id_region">
                                            <option>Région</option>
                                            {% for region in regions %}

                                                <option value="{{ region.id_region }}">{{ region.region_name }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="grid desk-6 alpha">
                                        <label>Mot de passe</label>
                                        <input type="password" name="password" class=" fullwidth form-control">
                                    </div>

                                    <div class="grid desk-6 omega">
                                        <label>Confirmation mot de passe</label>
                                        <input type="password" name="password_confirm" class="fullwidth form-control">
                                        <br>
                                    </div>

                                    <hr/>

                                    <div class="grid desk-12 both">
                                        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                                    </div>

                                </form>
                            </div>

                        </div> <!-- .help-container -->
                    </div> <!-- .grid-container -->
                </div> <!-- .rw-row -->

            </div> <!-- .rw-content -->

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->
{% endblock %}